<app-event-manipulation-dialogs></app-event-manipulation-dialogs>
<p [ngSwitch]="(events | async)?.length==0">

  <ng-container *ngSwitchCase ="false">
    <mat-accordion class="expanel-align">
      <mat-expansion-panel *ngFor ="let e of events | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.eventName}}
          </mat-panel-title>
          <mat-panel-description *ngIf="innerWidth > 500">
            {{getCata(e.category)}}
          </mat-panel-description>
          <mat-panel-description  mat-option='font-family: monospace'>
            {{getdate(e.eDate)}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="5" rowHeight="100px">
          <mat-grid-tile colspan="2" rowspan="1" flex="100" layout-wrap #ohmy>
            <pre id="eventdesc" style="position: absolute;left: 0;top:5px; overflow-y: scroll; height:100px; width:calc(100% + 15px)">Description: {{getdesc(e.eventDesc)}}</pre>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <div style="position: absolute;left: 0;top:5px">Complete: {{e.isDone}}</div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-action-row>
          <button mat-button color="warn" (click)="delete(e.timestamp)">Complete</button>
          <button mat-button color="accent" (click)="update(e)">Edit</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-action-row>
        <button mat-button color="primary" (click)="add()">Add</button>
      </mat-action-row>
    </mat-accordion>
    <button mat-button color="primary" (click)="add_sample()">Add sample event</button>
  </ng-container>
  <ng-container *ngSwitchCase="true">
    <h2 style="color: lightgrey">
      No schedule here yet ^_^
    </h2><br>
    <button mat-button color="primary" (click)="add_sample()">Add sample event</button>
  </ng-container>
</p>
