
.expanel-align .mat-expansion-panel-header-title,
.expanel-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.expanel-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.red{color: warn;}
.yellow{color: primary;}
.black{color: black;}
.lightblue{color: primary;}
