<mat-accordion class="expanel-align">
  <mat-expansion-panel *ngFor ="let e of events | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{e.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{e.catagory}}
      </mat-panel-description>
      <mat-panel-description>
        {{getdate(e.date)}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile colspan="2" rowspan="1">
        <div style="position: absolute;left: 0;top:5px">{{e.desc}}</div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">          </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div style="position: absolute;left: 0;top:5px">{{e.done}}</div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-action-row>
      <button mat-button color="warn">Complete</button>
      <button mat-button color="accent">Edit</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
