
<mat-toolbar color="primary">
  {{tempDate.toDateString()}}
</mat-toolbar>
<br>
<h4>
<b>Events:</b>
<h4>
<br>
<mat-expansion-panel [expanded]="false" *ngFor ="let e of eventsForUser ">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{e.eventName}}
    </mat-panel-title>
    <mat-panel-description>
      {{e.category}}
    </mat-panel-description>
    <mat-panel-description>
      {{getdate(e.eDate)}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="1">
      <div style="position: absolute;left: 0;top:5px">{{e.eventDesc}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">          </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <div style="position: absolute;left: 0;top:5px">Complete: {{e.isDone}}</div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-action-row>
    <button mat-button color="warn" (click)='deleteEvent(e)'>Complete</button>
    <button mat-button color="accent"  (click)="editEvent(e)">Edit</button>
    <button mat-button color="accent" (click)='deleteEvent(e)' >Delete</button>

  </mat-action-row>
  <div  *ngIf="renderEdit">

              
          <form #eventForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
       <!--
            <div class="form-group">
              <label> Event Name</label>
              <input
              type="text"
              [(ngModel)]="eventEditing.eventName"
              [ngClass]="{'is-invalid':petName.errors && petName.touched}"
              class="form-control"
              name="name"
              #eventForm="ngModel"
              >
             -->
             <div class="form-group">
                <label> Event Name</label>
                <input type="text" [(ngModel)]="eventEditing.eventName" class="form-control"
                  name="name" #eventForm="ngModel" >
              </div>

            <div class="form-group">
              <label> Description</label>
              <input type="text" [(ngModel)]="eventEditing.eventDesc" class="form-control"
                name="desc" #eventForm="ngModel" >
            </div>

            <div class="form-group">
                <label> Event Time</label>
                <input type="datetime" [(ngModel)]="editTime" class="form-control"
                  name="time" #eventForm="ngModel" >
              </div>

            <div class="form-group">
                <label>Category</label>
                <select
                [(ngModel)]="eventEditing.category"
                class="form-control"
                name="category"
                #eventForm="ngModel"
                >
                  <option value="School">School</option>
                  <option value="Extracurriculars">Extracurriculars</option>
                  <option value="Social Events">Social Event</option>
                  <option value="Other">Other</option>
                </select>
              </div>
          </form>
        
       
  <button mat-raised-button color="accent" (click)='updateEvent()' >Update</button>
  <button mat-raised-button color="accent" (click)='renderEdit=false' >Cancel</button>
  </div>
</mat-expansion-panel>
<h4><b>Add Event to Day:</b><h4>

<br>
<mat-form-field>
  <input matInput type="text" placeholder="Event Name" [(ngModel)]="addEventName"/>
</mat-form-field>
<br>
<mat-form-field>
    <input matInput type="text" placeholder="Event Description" [(ngModel)]="addEventDesc"/>
</mat-form-field>
<br>
<h5>Event Category:<h5>
<mat-radio-group class="radio-group" [(ngModel)]="addEventCategory">
  <mat-radio-button class="radio-button" *ngFor="let cat of categories" [value]="cat">
    {{cat}}<br>
  </mat-radio-button>
</mat-radio-group>
<h5>Event Time:<h5>
<mat-form-field>
  <input matInput type="text" placeholder="Hour" [(ngModel)]="addEventHour"/>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Minutes" [(ngModel)]="addEventMinutes"/>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="addEvent()"> Add Event </button>
