<!--This page uses style created by Szymon Stypa, inspired by pens on Codepen, thanks dude!-->
  <div id="fullpage">
    <div class="section">
                  <div class="time-circle">
                                <div class="sun"></div>
                                <div class="moon">
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                </div>
                                <div class="stars">
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                      <div></div>
                                </div>
                                <div class="water"></div>
                          </div>
                  <div id="intro-text">
                        <h1 href="#">Scheduleme</h1>
                  </div>
      <div id="switch" (click) = "go()">
        <div id="circle"></div>
      </div>
                </div>
  </div>
