<mat-toolbar color="primary">
  Scheduleme
  <span class="fill-line-space"></span>
  <div  [ngSwitch]="authS.loggedIn()">
    <ng-container *ngSwitchCase ="true">
      <button mat-button style="position: relative; top: 0; right: 0" (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ngSwitchCase ="false">
      <button mat-button style="position: relative; top: 0; right: 0" (click)="login()">Login</button>
    </ng-container>


  </div>
</mat-toolbar>
  <mat-tab-group class="demo-tab-group" #tg>
    <mat-tab label="All">
      <div class="tab-content">
        <app-all-event *ngIf="tg.selectedIndex == 0" >
        </app-all-event>
      </div>
    </mat-tab>
    <mat-tab label="category">
      <div class="tab-content">
        <app-category-event *ngIf="tg.selectedIndex == 1"></app-category-event>
      </div>
    </mat-tab>
    <mat-tab label="Calendar">
      <div class="tab-content">
        <app-calendar></app-calendar>
      </div>
    </mat-tab>
    <mat-tab label="Today">
      <div class="tab-content">
        <app-today-event *ngIf="tg.selectedIndex == 3"></app-today-event>
      </div>
    </mat-tab>
  </mat-tab-group>
