<mat-toolbar color="primary">
  Scheduleme
  <span class="fill-line-space"></span>
  <div  [ngSwitch]="authS.loggedIn()">
    <ng-container *ngSwitchCase ="true">
      <button mat-button style="position: relative; top: 0; right: 0" (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ngSwitchCase ="false">
      <button mat-button style="position: relative; top: 0; right: 0" (click)="login()">Login</button>
    </ng-container>


  </div>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="All">
        <div class="tab-content">
          <app-all-event></app-all-event>
        </div>
      </mat-tab>
      <mat-tab label="Catagory">
        <div class="tab-content">
          <app-catagory-event></app-catagory-event>
        </div>
      </mat-tab>
      <mat-tab label="Calendar">
        <div class="tab-content">
          <app-calendar></app-calendar>
        </div>
      </mat-tab>
      <mat-tab label="Today">
        <div class="tab-content">
          <app-today-event></app-today-event>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
