<div id='catagory-events'>
  <p [ngSwitch]="uid==0">
    <ng-container *ngSwitchCase ="false">
      <mat-form-field>
        <mat-select placeholder="Choose a catagory" [(value)]="catagory"
                                                    (selectionChange) ='filterBy($event)'>
          <mat-option value="if i display any schedule, display bug shows..">None</mat-option>
          <mat-option value="life">Life</mat-option>
          <mat-option value="school">School</mat-option>
          <mat-option value="family">Family</mat-option>
        </mat-select>
      </mat-form-field>
      <app-eventlist-display [events]='sortede$'>
      </app-eventlist-display>
    </ng-container>
    <ng-container *ngSwitchCase="true"><h2 style=" color: lightgrey">You need to login first!</h2></ng-container>
  </p>
</div>
