<div id='category-events'>
  <p [ngSwitch]="uid==0">
    <ng-container *ngSwitchCase ="false">
      <mat-form-field>
        <mat-select placeholder="Choose a category" [(value)]="category"
                                                    (selectionChange) ='filterBy($event)'>
          <mat-option value="School">School</mat-option>
          <mat-option value="Extracurricules">Extracurricules</mat-option>
          <mat-option value="Social Events">Social Events</mat-option>
          <mat-option value="Others">Others</mat-option>

        </mat-select>
      </mat-form-field>
      <app-eventlist-display [events]='sortede$'>
      </app-eventlist-display>
    </ng-container>
    <ng-container *ngSwitchCase="true"><h2 style=" color: lightgrey">You need to login first!</h2></ng-container>
  </p>
</div>
